<html>
  <head>
    <meta charset="utf-8" />
    <title>418: I'm a teapot</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/rainbz.js"></script>
  </head>
  <body>
    <div class="wrap">
      <pre id="teapot">{% HtmlTeapot %}</pre>
    </div>
    <script type="text/javascript">
      const teapot = document.getElementById('teapot');
      const rainbz = new Rainbz(teapot);
      rainbz.start();
    </script>
  </body>
</html>
